.intro{
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;
    background: white center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__suptitle{
    color: blue;
}

.intro__title{
    color: mediumvioletred;
}