[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorama = "*"
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-mock = "*"
pytest-selenium = "*"

[packages]
atomicwrites = "*"
black = "==20.8b1"
dj-database-url = "*"
django = "*"
dynaconf = "==3.1.2"
gunicorn = "*"
isort = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
whitenoise = "*"
celery = "*"
django-redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-storages = "*"
boto3 = "*"
awscli = "*"
redis = "*"
ipython = "*"

[requires]
python_version = "3.9"
