{% extends "_base.html" %}
{% load static %}

{% block head %}
<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static 'landing/styles/landing_styles.css' %}">

<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
{% endblock %}


{% block body %}
    <article class="intro">
        <article class="schemas_container">
            <article class="page_logo">Schemas</article>
            <span><a href="{% url "generator:create" %}" id="new_schema_link" class="button submit_but" type="submit">New schema</a></span>

            <article class="table_grid">
                <article class="table_header_item">Title</article>
                <article class="table_header_item">Modified</article>
                <article class="table_header_item">Actions</article>
                {% for schema in schemas %}
                    <article class="row_item schema_name">{{ schema.name }}</article>
                    <article class="row_item schema_date">{{ schema.modified|default:"Today :)" }}</article>
                    <article class="row_item actions">
                        <a class="edit" href="{% url "generator:edit" schema.pk %}">Edit schema</a>
                        <form method="post" action="{% url "generator:delete" schema.pk %}">
                            <button class="delete_but" type="submit">Delete</button>
                        </form>
                    </article>
                {% endfor %}
            </article>
        {{ 1|json_script:"next_number" }}

        </article>
    </article>
        {{ redirect|json_script:"redirect" }}
    <script>
        let ti = JSON.parse(document.getElementById('redirect').textContent);
        console.log("ti = " + ti)
        if(ti){
            location.replace("/o/sign-in/")
        }
    </script>
{% endblock %}
